ul {
    list-style-type: none;
    margin-left: 1150px;
}
li a{
    float: left;
    padding: 8px;
}
#nav_bar{
    height: 50px;
}

#google_logo{
    margin-top: 180px;
    text-align: center;
}
#search_bar{
    text-align: center;
}
input{
    height: 40px;
    width: 500px;
    border-radius: 50px;
}
buttons{
    text-align: center;
}
ol{
    list-style-type: none;
    margin-left: 510px;
}
#btn1 a , #btn2 a{
   background-color : #D3D3D3; 
}
